{
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "esnext",
    "baseUrl": "./"
  },
  "module": {
    "type": "es6",
    "resolveFully": true
  },
  "sourceMaps": true
}
